
assignment2/src/Question6.java
assignment2/bin/problem1/Ellipse_component.class
assignment2/bin/problem1/Traffic_light.class
assignment2/bin/problem2/Microwave.class
assignment2/src/problem1/Ellipse_component.java
assignment2/src/problem1/Traffic_light.java
assignment2/src/problem2/Microwave.java
